@import url('https://rsms.me/inter/inter.css');

.view {
  padding: env(safe-area-inset-top) 5% env(safe-area-inset-bottom);
}

.animated-dropdown {
  flex-grow: 1;
}

.responsive {
  display: flex;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: none !important;
}

.grid-display.flow {
  display: flex;
  flex-direction: column;
}

.grid-display.flow .grid-display__item .value {
  font-size: 1.5rem;
}

.grid-display {
  display: grid;
  grid-gap: var(--gap-md);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.grid-display .grid-display__item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  padding: var(--gap-lg);
  gap: var(--gap-md);
}
.grid-display .grid-display__item .label {
  color: var(--color-base);
  font-weight: bold;
  font-size: 1rem;
}
.grid-display .grid-display__item .value {
  color: var(--color-contrast);
  font-weight: bold;
  font-size: 2rem;
}
.grid-display .grid-display__item .goto-link {
  margin-top: auto;
}

.grid-display .grid-display__item .smaller-value {
  font-size: 0.85rem;
  font-style: italic;
  color: var(--color-base)
}

.grid-display.width-12 {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
.grid-display.width-16 {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}