@import url('https://rsms.me/inter/inter.css');

#app {
  padding: 5%;
}

.animated-dropdown {
  flex-grow: 1;
}

.responsive {
  display: flex;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: none !important;
}